<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:if="${result != null}" class="result">
        <span th:utext="'Tu IMC <br> siendo ' + ${sex} + ',  con ' + ${age} + ' años, <br> pesando ' + ${weight} + ' kg y midiendo ' + ${height} + '<br> es: ' + ${result}"></span>
    </div>
    <div th:if="${error != null}" class="error">
        <span th:text="${error}"></span>
    </div>
    <h1>Bienvenido a la calculadora de IMC</h1>
    <form action="/" method="POST">
        <div>
            <label for="weight">Peso</label>
            <input type="text" name="weight" id="weight">
        </div>
        <div>
            <label for="age">Edad</label>
            <input type="text" name="age" id="age">
        </div>
        <div>
            <label for="sex">Sexo</label>
            <input type="text" name="sex" id="sex">
        </div>
        <div>
            <label for="height">Altura</label>
            <input type="text" name="height" id="height">
        </div>
        <button type="submit">Calcular IMC</button>
    </form>
</body>
</html>