<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Personas</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

  <div class="container">
	<div th:if="${result != null}">
    	<span th:text="${result}"></span>
	</div>
	<form th:action="@{/addPeople}" th:method="get">
	    <button type="submit" class="action-btn btn-add">Añadir</button>
	</form>
    <div class="card">
      <h2>Listado de personas</h2>

      <table class="people-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Sexo</th>
			<th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${listPeople}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.surname}"></td>
            <td th:text="${item.sexo ? 'Mujer' : 'Hombre'}"></td>
			<td>
				<form th:action="@{/editPeople}" th:method="get">
				    <input type="hidden" name="id" th:value="${item.id}">
					<input type="hidden" name="edit" th:value="edit">
				    <button type="submit" class="action-btn btn-edit">Editar</button>
				</form>

				<form th:action="@{/deletePeople}" th:method="get">
				    <input type="hidden" name="id" th:value="${item.id}">
					<input type="hidden" name="delete" th:value="delete">
				    <button type="submit" class="action-btn btn-delete">Eliminar</button>
				</form>
			</td>
          </tr>
        </tbody>
      </table>
    </div>

    

  </div>

</body>
</html>
