<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Converter km and m</title>
</head>
<body>
	<div th:if="${result!=null}">
		<span class="result" th:text="${result}"></span>
	</div>
	<span th:text="${error}"></span> 
	<form action="/" method="post">
		<h1>Converter</h1>
		<div>
			<label for="number">Write number: </label> 
			<input type="number" name="number" id="number">
		</div>
		<button type="submit" name="typeConvert" value="km">Convert metter to km</button>
		<button type="submit" name="typeConvert" value="m">Convert km to metter</button>
	</form>
</body>
</html>